<div class="foo" style="bottom: 14px;position: absolute;">
        <footer class="footer-landing" style="bottom: 14px;text-align: center;">
            <p>Powerful ONE Conference V.1.0 Copyright ? 2020 Outsource Infra team. All rights reserved <a href="https://www.inet.co.th/">INET.CO.TH</a>.</p>
        </footer>
</div>

<%= render "shared/components/cookie_warning" %>
